[Unit]
Description={{loki_serviceName}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ loki_userId }}
Group={{ loki_groupId }}
Restart=always
RestartSec=2
StartLimitInterval=0
Type=simple
ExecStart={{ loki_exec_command }}

[Install]
WantedBy=multi-user.target
